.lesson-element-item {
    min-width: 80px;
    padding: 8px;
    margin: 8px;
    width: 100%;
    border-left: solid 8px #4c2e33;
    background-color: #f897a81c;
    border-radius: 8px;
}

.mat-icon-button.mat-accent {
    color: #c07582;
}
