section {
    display: table;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: inline-block;
  }
  
  .example-button-row .mat-button-base {
    margin: 20px;
  }
  
  .example-flex-container {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
  }
  