<img class="headers" src="/Header/PK-opinie.png">   


<mat-form-field>
  <mat-label>
    <mat-icon>search</mat-icon>
  </mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
    <td mat-cell *matCellDef="let row"> {{row.author}} </td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
    <td mat-cell *matCellDef="let row"> {{row.text}} </td>
  </ng-container>

  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ocena </th>
    <td mat-cell *matCellDef="let row"> {{row.rating}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
    <td mat-cell *matCellDef="let row"> {{row.date}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button (click)="addOpinion()">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">add</mat-icon>
      </button></th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="accent" (click)="updateOpinion(row)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="deleteOpinion(row.id)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
      <!-- <button mat-icon-button color="accent">
        <mat-icon aria-label="money">attach_money</mat-icon>
      </button> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>