<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<div class=front [style]="innerWidth" (window:resize)="onResize()">
  <mat-grid-list [cols]="colsVal" gutterSize="0px" rowHeight="1:1">
    <mat-grid-tile
    [colspan]="colsVal">
      <div class="bird" *ngIf="!isMobile">
        <img src="Front/bird1.webp" alt="">
      </div>
      <div class="bird" *ngIf="isMobile">
        <img src="Front/bird2.webp" alt="">
      </div>
      <div class="logo">
        <img src="Front/logo.webp" alt="">
      </div>
      <div class="slogan">
        <img src="Front/slogan.webp" alt="">
      </div> 
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="colspanVal">
      <div class="bird" *ngIf="!isMobile">
        <img src="Front/bird3.webp" alt="">
       </div>
       <div class="about">
        <div [style]="innerHeader">Szukasz pomocy w nauce angielskiego, tłumaczeniach lub korekcie tekstu?</div>
        Jestem!<br><br>
        Nazywam się Martyna Kowalska i od ponad 15 lat pracuję jako korepetytorka. Uwielbiam długie spacery, kolorowe sukienki i dobrą kawę, ale nic nie sprawia mi takiej frajdy jak praca z uczniem oraz możliwość dzielenia się swoją pasją z innymi. Do mojej specjalności należą zajęcia przygotowujące do matury i egzaminu ósmoklasisty. Oferuję również usługi w zakresie tłumaczeń tekstów naukowych i użytkowych, a także szeroko pojętej korekty językowej, w tym opieki nad treściami publikowanymi w internecie. Moimi klientami są zarówno firmy, jak i osoby prywatne. 
        <br>Jestem absolwentką filologii angielskiej UMK o specjalności nauczycielskiej oraz studiów podyplomowych w zakresie nauczania języka polskiego jako obcego. Posiadam doświadczenie w pracy z dziećmi, młodzieżą i dorosłymi, zdobyte m.in. w szkołach językowych, na Uniwersytecie Mikołaja Kopernika, szkole podstawowej, liceum ogólnokształcącym, CSAiU w Toruniu, a przede wszystkim – podczas indywidualnych lekcji online.
        <br>Bez względu na typ wykonywanych przeze mnie usług, jednakowo wyróżnia je wysoka jakość, terminowość, zaangażowanie oraz ogromna przyjemność, jaką czerpię z każdej nowej współpracy.
      </div>
    </mat-grid-tile>
    <mat-grid-tile
    *ngIf="!isMobile"
    [colspan]="colspanVal">
      <div class="bird">
        <img src="Front/bird4.webp" alt="">
      </div>
    </mat-grid-tile>
    <mat-grid-tile
    *ngIf="isMobile"
    [colspan]="colspanVal">
      <div class="bird">
        <img src="Front/bird4.webp" alt="">
      </div>
    </mat-grid-tile>
      <mat-grid-tile
    *ngIf="!isMobile"
    [colspan]="colspanVal">
      <div class="bird">
        <img src="Front/bird5.webp" alt="">
      </div>
    </mat-grid-tile>
  <mat-grid-tile
  [colspan]="colspanVal">
    <div class="bird">
      <img src="Front/bird6.webp" alt="">
    </div>
        <div class="slider">
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let opinion of sliderList">
              <div [style]="innerHeader">Wybrane relacje moich uczniów </div>
              <div class="author">{{opinion.author}}, {{opinion.date}}</div>
              <div class="slider-text">{{opinion.text}}</div>
            </ng-template>
          </ngb-carousel>
          <p class="source">Źródło: <a href="https://www.e-korepetycje.net/panikowalska/jezyk-angielski" target="_blank"><strong>e-korepetycje.net</strong></a></p>
        </div>
      <table class="contact" *ngIf="!isMobile">
        <tr>
          <th><a href="mailto:kontakt@panikowalska.com">KONTAKT@PANIKOWALSKA.COM</a> | +48 667 298 401</th>
        </tr>
        <tr>
          <th>NIP 8792492186 | REGON 381757363</th>
        </tr>
        <tr>
          <td>COPYRIGHT ©PANI KOWALSKA 2022 | WSZELKIE PRAWA ZASTRZEŻONE</td>
        </tr>
      </table>
    </mat-grid-tile>
      <mat-grid-tile
    *ngIf="isMobile"
    [colspan]="colspanVal">
      <div class="bird">
        <img src="Front/bird5.webp" alt="">
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <table class="contact" *ngIf="isMobile">
    <tr>
      <th><a href="mailto:kontakt@panikowalska.com">KONTAKT@PANIKOWALSKA.COM</a> | +48 667 298 401</th>
    </tr>
    <tr>
      <th>NIP 8792492186 | REGON 381757363</th>
    </tr>
    <tr>
      <td>COPYRIGHT ©PANI KOWALSKA 2022 | WSZELKIE PRAWA ZASTRZEŻONE</td>
    </tr>
    <tr></tr>
    <tr></tr>

  </table>  
<div>
  