img {
    width: 100%;
    height: auto;
  }

  * {
    box-sizing: border-box;
  }
  
  .menu {
    width: 7%;
    float: left;
    padding: 15px;

  }
  
  .bird {
    width: 53%;
    float: left;

  }

  .logo {
    width: 40%;
    float: left;
    padding: 15px;
  }

  .slogan{
    color: white;
    font-family: Poppins medium;
    font-size: xxx-large;
    text-align: right;
  }

  @media only screen and (max-width: 1200px) {
      img {
    width: 100%;
    height: auto;
  }

    .menu {
        width: 100%;
        float: left;
        padding: 15px;
    
      }
      
      .bird {
        width: 100%;
        float: left;
    
      }
    
      .logo {
        width: 100%;
        float: left;
        padding: 15px;
      }

      .slogan{
        font-size: xx-large;
      }
  }