<img class="headers" src="/Header/PK-faq.png">   

<mat-form-field>
  <mat-label>
    <mat-icon>search</mat-icon>
  </mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pytanie </th>
    <td mat-cell *matCellDef="let row"> {{row.questionText}} </td>
  </ng-container>

  <ng-container matColumnDef="answer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Odpowiedź </th>
    <td mat-cell *matCellDef="let row"> {{row.answerText}} </td>
  </ng-container>

  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ocena </th>
    <td mat-cell *matCellDef="let row"> {{row.rating}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button (click)="addFaq()">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">add</mat-icon>
      </button></th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="accent" (click)="updateFaq(row)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="deleteFaq(row.id)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>