<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <form #registerForm="ngForm" (ngSubmit)="register()">
        <h2 style="text-align: center; margin-top: 10px">Logowanie</h2>
        <hr />
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" required name="username" [(ngModel)]="model.email" />
        </div>

        <div class="form-group">
          <input type="password" class="form-control" placeholder="Hasło" required name="password" [(ngModel)]="model.password" />
        </div>

        <div class="form-group text-center">
          <button class="btn-primary btn-success mr-3" type="submit">Zaloguj</button>
          <button class="btn-primary btn-danger" type="button" [routerLink]="['/home']">Anuluj</button>
        </div>
      </form>
    </div>
  </div>
</div>
