<body>
   <div class="wrapper">
     <div id="formContent">
       <!-- Tabs Titles -->
       <!-- Icon -->
       <div class="alert alert-danger text-center" role="alert" *ngIf="unauthorized">
         Incorrect e-mail or password
       </div>

       <div class="alert span4 alert-warning" role="alert" *ngIf="badrequest">
         Incorrect e-mail
       </div>

       <div class="fadeIn first">
         <img src="" id="icon" alt="User Icon" />
       </div>

       <!-- Login Form -->
       <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
         <input type="text" class="fadeIn second form-control" formControlName="email" placeholder="Enter e-mail">
         <input type="password" class="fadeIn third form-control" formControlName="password" placeholder="Enter password">
         <button mat-raised-button color="accent" style="margin: 10px" type="submit" class="fadeIn fourth">Sign In</button>
       </form>

       <a mat-raised-button color="accent" style="margin-bottom: 10px" class="fadeIn fourth" href="../api/LoginGoogle">Sign in via Google</a>


       <!-- Remind Passowrd -->
       <div id="formFooter">
         <a class="underlineHover" href="#">Forgot Password?</a>
       </div>

     </div>
  </div>
</body>
