<div class="lesson-element-item">
    Materials for the lesson
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files, lesson.calendarId)" style="display:none;">
    <button *ngIf="loggedUser[0] != 'Student'" mat-icon-button color="accent" (click)="file.click()">
      <mat-icon matTooltip="Upload new file"> cloud_upload</mat-icon>
    </button>
    <div class="col-md-4">
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div>
    <br/>
    <ul>
      <li>
        Text to read
        
        Lesson calendar event Id: {{lesson.calendarId}}

        <button mat-icon-button color="accent">
          <mat-icon matTooltip="Download file"> cloud_download</mat-icon>
        </button>
      </li>
      <li>
        Homework 1
        <button mat-icon-button color="accent">
          <mat-icon matTooltip="Download file"> cloud_download</mat-icon>
        </button>
      </li>
    </ul>
</div>
