<div class="row">
  <div class="col-md-2" style="background-color: #343a40">
    <ul class="nav flex-column">
      <li class="nav-item">
        <button class="btn-primary btn-block nav-link active mb-2" href="#">Home</button>
      </li>
      <li class="nav-item">
        <button class="btn-primary btn-block nav-link active mb-2" href="#">Aktualności</button>
      </li>
      <li class="nav-item">
        <button class="btn-primary btn-block nav-link active mb-2" href="#">Tłumaczenia i Korekta</button>
      </li>
      <li class="nav-item">
        <button class="btn-primary btn-block nav-link active mb-2" href="#">Korepetycje i kursy</button>
      </li>
      <li class="nav-item">
        <button class="btn-primary btn-block nav-link active mb-2" href="#">Sklep</button>
      </li>
      <li class="nav-item">
        <button class="btn-primary btn-block nav-link active mb-2" href="#">Ćwiczenia</button>
      </li>
      <li class="nav-item">
        <button class="btn-primary btn-block nav-link active mb-2" href="#">FAQ</button>
      </li>
      <li class="nav-item">
        <button class="btn-primary btn-block nav-link active mb-2" href="#">Umów się</button>
      </li>
      <li class="nav-item">
        <button class="btn-primary btn-block nav-link active mb-2" href="#">Strefa Ucznia</button>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <h3 style="text-align: center; margin-top: 20px; margin-bottom: 20px">O co chodzi i kim jest Pani Kowalska ?</h3>
      <div class="container mb-3" id="kowalska">
        <p>
          Proin eleifend vitae risus id iaculis. Suspendisse potenti. Quisque vel varius sapien, et condimentum justo.
          Praesent imperdiet ac odio vel finibus. Donec fermentum rutrum tellus, vel lobortis ante viverra finibus.
          Donec hendrerit, diam a auctor suscipit, est felis fringilla purus, ac eleifend orci elit vitae urna.
          Suspendisse non metus eros. Quisque felis odio, efficitur a mollis in, ultricies in tellus.
        </p>
      </div>
    <div class="row justify-content-center">
      <div class="card mr-5 mb-5" style="width: 15rem;">
        <img src="../../assets/books.jpg" class="card-img-top" alt="card img">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Zobacz</a>
        </div>
      </div>

      <div class="card mr-5 mb-5" style="width: 15rem;">
        <img src="../../assets/books.jpg" class="card-img-top" alt="card img">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Zobacz</a>
        </div>
      </div>

      <div class="card mr-5 mb-5" style="width: 15rem;">
        <img src="../../assets/books.jpg" class="card-img-top" alt="card img">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Zobacz</a>
        </div>
      </div>
      
      <div class="card mr-5 mb-5" style="width: 15rem;">
        <img src="../../assets/books.jpg" class="card-img-top" alt="card img">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Zobacz</a>
        </div>
      </div>

      <div class="card mr-5 mb-5" style="width: 15rem;">
        <img src="../../assets/books.jpg" class="card-img-top" alt="card img">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Zobacz</a>
        </div>
      </div>

      <div class="card mr-5 mb-5" style="width: 15rem;">
        <img src="../../assets/books.jpg" class="card-img-top" alt="card img">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Zobacz</a>
        </div>
      </div>

      <div class="card mr-5 mb-5" style="width: 15rem;">
        <img src="../../assets/books.jpg" class="card-img-top" alt="card img">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Zobacz</a>
        </div>
      </div>

      <div class="card mr-5 mb-5" style="width: 15rem;">
        <img src="../../assets/books.jpg" class="card-img-top" alt="card img">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Zobacz</a>
        </div>
      </div>
    </div>
  </div>
</div>

