<mat-toolbar class="nav-icon-mobile" (window:resize)="onResize()" *ngIf="isMobile">
  <mat-toolbar-row>
    <button style="background: none" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button
      style="background: none"
      (click)="sidenav.close()"
      mat-icon-button
      routerLink="."
    >
      <mat-icon>home</mat-icon>
    </button>
    <button 
    style="background: none;"
    (click)="sidenav.close()" 
    mat-icon-button routerLink="login">
      <mat-icon>account_box</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="nav-bar" (window:resize)="onResize()" *ngIf="!isMobile">
  <mat-toolbar-row>
    <button (click)="sidenav.close()" mat-icon-button routerLink=".">
      <mat-icon>home</mat-icon>
    </button>

    <button (click)="sidenav.close()" mat-icon-button routerLink="login">
      <mat-icon>account_box</mat-icon>
    </button>

    <div>
      <button class="nav-bar-item" mat-button>AKTUALNOŚCI</button>
      <button class="nav-bar-item" mat-button [matMenuTriggerFor]="aboveMenu">
        KOREPETYCJE
      </button>
      <mat-menu class="customize" #aboveMenu="matMenu" yPosition="above">
        <button class="nav-bar-sub-item" mat-menu-item>
          Egzamin ósmoklasisty
        </button>
        <button class="nav-bar-sub-item" mat-menu-item>Matura</button>
        <button class="nav-bar-sub-item" mat-menu-item>Inne</button>
      </mat-menu>

      <button class="nav-bar-item" mat-button>TŁUMACZENIA</button>
      <button class="nav-bar-item" mat-button>KOREKTA</button>

      <button class="nav-bar-item" mat-button>OPINIE</button>
      <button class="nav-bar-item" mat-button  routerLink="regulations">REGULAMIN</button>

      <button class="nav-bar-item" mat-button>FAQ</button>
      <a class="nav-bar-item" href="https://www.e-korepetycje.net/panikowalska/jezyk-angielski" mat-button target="_blank">E-KOREPETYCJE</a>
      <button class="nav-bar-item" routerLink="contact" mat-button>KONTAKT</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="fixed-toolbar-logged" *ngIf="mentor || student">
    <button style="margin: 1%" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button style="margin: 1%" mat-icon-button routerLink=".">
      <mat-icon>home</mat-icon>
    </button>
    <button style="margin: 1%; color: pink" mat-icon-button (click)="logOut()">
      <mat-icon>account_box</mat-icon>
    </button>
    <div class="identity" style="margin-left: auto; padding-right: 10px">
      Hello, {{ identity[2] }} {{ identity[3] }}! How are you today?
      <img
        src="/Images/{{ identity[4] }}"
        class="rounded-circle"
        style="width: 60px; height: 60px; margin: 5px"
      />
    </div>
  </mat-toolbar>

  <mat-sidenav-container *ngIf="notLogged">
    <mat-sidenav
      id="sidenav-notlogged"
      #sidenav
      [mode]="'push'"
      [fixedInViewport]="'over'"
      fixedTopGap="56"
    >
      <mat-nav-list
        style="margin-top: 3%; margin-left: 1%"
        (click)="sidenav.toggle()"
        *ngIf="notLogged"
      >
        <a mat-list-item class="mobile-nav-bar" routerLink="news"
          >AKTUALNOŚCI</a
        >
        <a mat-list-item class="mobile-nav-bar" routerLink="news"
          >KOREPETYCJE</a
        >
        <a mat-list-item class="mobile-nav-bar" routerLink="news">MATURA</a>
        <a mat-list-item class="mobile-nav-bar" routerLink="news">MATURA</a>
        <a mat-list-item class="mobile-nav-bar" routerLink="news">INNE</a>
        <a mat-list-item class="mobile-nav-bar" routerLink="news"
          >TŁUMACZENIA</a
        >
        <a mat-list-item class="mobile-nav-bar" routerLink="news">KOREKTA</a>
        <a mat-list-item class="mobile-nav-bar" routerLink="news"
          >OPINIE</a
        >
        <a mat-list-item class="mobile-nav-bar" routerLink="regulations">REGULAMIN</a>
        <a mat-list-item class="mobile-nav-bar" routerLink="news">FAQ</a>
        <a mat-list-item class="mobile-nav-bar" href="https://www.e-korepetycje.net/panikowalska/jezyk-angielski" target="_blank">E-KOREPETYCJE</a>

        <a mat-list-item class="mobile-nav-bar" routerLink="contact">KONTAKT</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-sidenav-container
    *ngIf="mentor"
    [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
  >
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="'side'"
      fixedTopGap="56"
    >
      <div class="logged">
        <mat-nav-list style="margin-top: 10%">
          <img
            style="margin-left: 5%; margin-bottom: 25%"
            src="logo_menu.webp"
            alt=""
          />
          <a mat-list-item routerLink="mentor/pupils">
            <mat-icon aria-label="mail">insert_emoticon</mat-icon>Uczniowie
          </a>
          <a mat-list-item routerLink="mentor/lesson">
            <mat-icon aria-label="mail">article</mat-icon>Lekcje
          </a>
          <a mat-list-item routerLink="calendar-view">
            <mat-icon aria-label="mail">today</mat-icon>Kalendarz
          </a>
          <a mat-list-item routerLink="mentor/payment">
            <mat-icon aria-label="mail">monetization_on</mat-icon>Płatności
          </a>
          <a mat-list-item routerLink="mentor/mail">
            <mat-icon aria-label="mail">attach_email</mat-icon>Poczta
          </a>
          <a mat-list-item routerLink="mentor/news">
            <mat-icon aria-label="mail">announcement</mat-icon>News
          </a>
          <a mat-list-item routerLink="mentor/opinions">
            <mat-icon aria-label="mail">favorite_border</mat-icon>Opinie
          </a>
          <a mat-list-item routerLink="mentor/faq">
            <mat-icon aria-label="mail">error_outline</mat-icon>FAQ
          </a>
          <a mat-list-item routerLink="mentor/exercise">
            <mat-icon aria-label="mail">create</mat-icon>Ćwiczenia
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="student">
    <mat-sidenav-container
      *ngIf="student"
      [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
    >
      <mat-sidenav
        #sidenav
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="'side'"
        fixedTopGap="56"
      >
        <div class="logged">
          <mat-nav-list style="margin-top: 10%">
            <img
              style="margin-left: 5%; margin-bottom: 25%"
              src="logo_menu.webp"
              alt=""
            />
            <a mat-list-item routerLink="student/lesson">
              <mat-icon aria-label="mail">article</mat-icon>Lekcje
            </a>
            <a mat-list-item routerLink="calendar-view">
              <mat-icon aria-label="mail">today</mat-icon>Kalendarz
            </a>
            <a mat-list-item routerLink="student/payment">
              <mat-icon aria-label="mail">monetization_on</mat-icon>Płatności
            </a>
            <a mat-list-item routerLink="student/mail">
              <mat-icon aria-label="mail">attach_email</mat-icon>Poczta
            </a>
          </mat-nav-list>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
