<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<!-- <button mat-raised-button style="margin: 1%" color="accent" (click)="openDialog()">Dodaj studenta</button> -->

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z5">

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię </th>
    <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </th>
    <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
  </ng-container>

  <ng-container matColumnDef="streetName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ulica </th>
    <td mat-cell *matCellDef="let row"> {{row.streetName}} </td>
  </ng-container>

  <ng-container matColumnDef="houseNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nr Domu </th>
    <td mat-cell *matCellDef="let row"> {{row.houseNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="apartmentNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nr Mieszkania </th>
    <td mat-cell *matCellDef="let row"> {{row.apartmentNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Miasto </th>
    <td mat-cell *matCellDef="let row"> {{row.city}} </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Kraj </th>
    <td mat-cell *matCellDef="let row"> {{row.country}} </td>
  </ng-container>

  <ng-container matColumnDef="postcode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Kod pocztowy </th>
    <td mat-cell *matCellDef="let row"> {{row.postcode}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="addPupil()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="updatePupil(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
        <mat-icon aria-label="Edit">edit</mat-icon></button>
        <button mat-icon-button color="accent" (click)="deletePupil(row.email)">
        <mat-icon aria-label="Delete">delete</mat-icon></button>
        </td>
  </ng-container>

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>