<div class="alert span4 alert-warning" role="alert" *ngFor="let error of errorFirstName">
  {{error}}
</div>

<div class="alert span4 alert-warning" role="alert" *ngFor="let error of errorLastName">
  {{error}}
</div>

<div class="alert span4 alert-warning" role="alert" *ngFor="let error of errorEmail">
  {{error}}
</div>

<div class="alert span4 alert-danger" role="alert" *ngFor="let error of errorPassword">
  {{error.errorMessage}}
</div>

<div class="alert span4 alert-success" role="alert" *ngIf="succes">
  Student dodany!
</div>




<div class="fadeIn first">
  <img src="" id="icon" alt="User Icon" />
</div>

<h2 mat-dialog-title>Dodaj użytkownika</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form" [formGroup]="pupilForm" (ngSubmit)="onSubmit()">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="email" ngModel [email]="true">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Imię</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Nazwisko</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Ulica</mat-label>
            <input matInput formControlName="streetName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Numer domu</mat-label>
            <input matInput formControlName="houseNumber">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Numer mieszkania</mat-label>
            <input matInput formControlName="apartmentNumber">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Miasto</mat-label>
            <input matInput placeholder="Ex. San Francisco" formControlName="city">
          </mat-form-field >
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Kraj</mat-label>
            <input matInput placeholder="Ex. California" formControlName="country">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Kod pocztowy</mat-label>
            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" formControlName="postcode">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-dialog-content>
      <button mat-button mat-dialog-close>Powrót</button>
      <button type="submit" mat-button>Dodaj</button>
    </mat-dialog-content>
  </form>
</mat-dialog-content>