<div class="long-title">
  <h3>Umów się</h3>
</div>
<dx-scheduler></dx-scheduler>
<!--<dx-scheduler [dataSource]="events"
              [editing]="false"
              startDateExpr="start.dateTime"
              endDateExpr="end.dateTime"
              textExpr="summary"
              [startDayHour]="7"
              timeZone="Europe/Warsaw"
              [showAllDayPanel]="false"
              [views]='["day", "workWeek", "month"]'
              currentView="workWeek"
              [currentDate]="currentDate"
              [height]="500">
</dx-scheduler>-->
<!--<div>
  Calendar placeholder
</div>-->
