<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

  <nav class="navbar navbar-default navbar-fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Learn Me</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }" *ngIf="notLogged">
        <ul class="navbar-nav flex-grow-1">
          <li> <a class="nav-item nav-link text-dark" href="#about">About</a></li>
        </ul>
      </div>
      <div>

        <div *ngIf="notLogged" class="btn btn-primary float-right" [routerLink]="['/registration']" style="margin-left: 10px">Registration</div>
        <div *ngIf="notLogged" class="btn btn-primary float-right" [routerLink]="['/login']" style="margin-left: 10px">Sing in</div>


        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
             [ngClass]="{ show: isExpanded }" *ngIf="admin">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/get-user']">Users</a>
            </li>
          </ul>
        </div>
        <div *ngIf="admin" class="identity" style="margin-left: auto; padding-right: 10px">Hello, {{identity[0]}} {{identity[2]}} {{identity[3]}}</div>
        <div *ngIf="admin" class="btn btn-primary float-right" style="margin-left: auto" (click)="logOut()">Logout</div>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
             [ngClass]="{ show: isExpanded }" *ngIf="mentor">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/get-my-students']">My Students</a>
          </ul>
        </div>
        <div *ngIf="mentor" class="identity" style="margin-left: auto; padding-right: 10px">Hello, {{identity[0]}} {{identity[2]}} {{identity[3]}}</div>
        <div *ngIf="mentor" class="btn btn-primary float-right" style="margin-left: auto" (click)="logOut()">Logout</div>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
             [ngClass]="{ show: isExpanded }" *ngIf="student">
          <ul class="navbar-nav  mr-auto">
            <li class="nav-item" [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
            </li>
          </ul>
        </div>
        <div *ngIf="student" class="identity" style="margin-left: auto; padding-right: 10px">Hello, {{identity[2]}} {{identity[3]}}, How are you today?</div>
        <div *ngIf="student" class="btn btn-primary float-right" style="margin-left: auto" (click)="logOut()">Logout</div>
      </div>
  </nav>
</body>
