.contact-text {
    line-height: 1.4vw;
    color: white;
    z-index: 2;
    font-family: "Poppins", sans-serif;
    font-size: 0.9vw;
    position: absolute;
    background:rgba(118, 108, 65, 0.2);
    padding: 2vw;
    margin-right: 39vw;
    margin-left: 3vw;
    text-align: justify;
  }
  
  .header {
    font-weight: bold;
    margin-bottom: 3vw;
    text-align: center;
    font-size: 1.5vw;
  }  
  
  @media only screen and (max-width: 1200px) {
    .logo {
      position: absolute;
      margin-bottom: 19%;
      width: 93%;
      margin-left: 2%;
      z-index: 2;
    }
  
    .slogan {
      z-index: 2;
      position: absolute;
      margin-top: 41%;
      margin-left: 16%;
      width: 101%;
    }

    .contact-text {
        line-height: 7vw;
        font-size: 4vw;
        margin-right: 0;
      }
  }

  