<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<div class="front">
  <mat-grid-list cols="1" gutterSize="0px">
    <mat-grid-tile colspan="1" [rowspan]="isMobile ? 2 : 1">
      <div class="bird" *ngIf="!isMobile">
        <img src="Front/bird8.webp" alt="" />
      </div>
      <div class="bird" *ngIf="isMobile">
        <img src="Front/bird2.webp" alt="" />
      </div>
      <div class="logo" *ngIf="isMobile">
        <img src="Front/logo.webp" alt="" />
      </div>
      <div class="slogan" *ngIf="isMobile">
        <img src="Front/slogan.webp" alt="" />
      </div>
      <div class="contact-text" *ngIf="!isMobile">
        <div class="header">REGULAMIN ZAJĘĆ</div>

        <strong><a href="Download/regulamin_ed_2022-23.pdf" target="_blank">Regulamin (PDF) </a></strong>
        |  <strong><a href="Download/rodo_ed_2022-23.pdf" target="_blank">RODO (PDF) </a> <br /></strong>
        <br />
        <div>
          Aby nasza współpraca przynosiła oczekiwane rezultaty, musimy trzymać
          się określonych zasad, obowiązujących tak samo ucznia, jak i mnie.
          Przed pierwszą lekcją niezbędne jest zapoznanie się z ich dokładną
          treścią oraz zaakceptowanie poniższego regulaminu.
          <br /><br />
          <strong>I Postanowienia ogólne</strong>
          <br /><br />
          <ol>
            <li>
              Na lekcje można zapisać się przez formularz dostępny na stronie,
              mailowo lub telefonicznie. Osoby niepełnoletnie mogą zapisać się
              wyłącznie za zgodą rodzica lub opiekuna.
            </li>
            <li>
              Zajęcia realizowane są online za pośrednictwem komunikatora
              Whereby. Niezbędne jest dobre połączenie internetowe.
            </li>
            <li>
              Zajęcia odbywają się od poniedziałku do piątku. Dokładne terminy
              spotkań zależne są od dostępności nauczyciela i zawsze ustalane są
              indywidualnie.
            </li>
            <li>
              Nauczyciel zobowiązany jest do wystawienia rachunku na koniec
              każdego miesiąca, którego kwota odpowiada ustalonej stawce
              godzinowej oraz liczbie zajęć zrealizowanych w danym miesiącu.
              Rachunek jest przysyłany na adres e-mail ucznia lub jego rodzica /
              opiekuna. Tytuł przelewu powinien odpowiadać numerowi rachunku,
              np. „Rachunek nr 13 03/2022”.
            </li>
            <li>
              Podjęcie współpracy jest równoznaczne z akceptacją niniejszego
              regulaminu przez ucznia i/lub rodzica / opiekuna ucznia oraz
              przyjęciem zapisów klauzuli informacyjnej RODO.
            </li>
          </ol>

          <strong>II Przygotowania i praca na lekcjach</strong>
          <br /><br />
          <ol>
            <li>
              Zarówno uczeń, jak i nauczyciel zobowiązani są do systematycznego
              przygotowywania się do zajęć. W przypadku ucznia oznacza to przede
              wszystkim samodzielne odrabianie zadań domowych oraz regularne
              powtarzanie omawianych dotąd zagadnień. Nauczyciel zobowiązuje się
              do sprawdzania zadań domowych i dostarczania uczniowi materiałów
              do wykorzystania na następnych zajęciach.
            </li>
            <li>
              Materiały (np. wybrane strony podręczników, fragmenty książek lub
              artykułów, autorskie ćwiczenia) wysyłane są do ucznia w drogą
              mailową, głównie w formacie pdf. Uczeń ma obowiązek pobrać je i
              wydrukować (lub w przypadku korzystania z tabletu – odpowiednio
              przygotować) z należytym wyprzedzeniem, nie na początku lekcji.
              Nie ma potrzeby kupowania jakichkolwiek podręczników we własnym
              zakresie.
            </li>
            <li>
              Uczeń ma obowiązek wysyłać odrobione zadania domowe najpóźniej do
              godziny 19:00 dnia poprzedzającego zajęcia. Przysłanie zadań
              domowych w późniejszej porze lub dostarczenie tylko części z nich
              może negatywnie wpłynąć na przebieg lekcji. Zadania domowe należy
              przysyłać na wskazany przez nauczyciela adres e-mail (nie za
              pośrednictwem smsów lub komunikatorów) w formie skanów lub
              wyraźnych zdjęć.
            </li>
            <li>
              Niewywiązywanie się z odrabiania i terminowego przysyłania zadań
              domowych oraz/lub notoryczne nieprzygotowywanie się do zajęć mogą
              skutkować zakończeniem współpracy.
            </li>
            <li>
              W przypadku uczniów niepełnoletnich, nauczyciel pozostaje w stałym
              kontakcie z ich rodzicami lub opiekunami. Wszelkie decyzje
              dotyczące zajęć są na bieżąco konsultowane. Rodzice / opiekunowie
              są również informowani o postępach ucznia oraz ewentualnych
              problemach.
            </li>
          </ol>

          <strong>IIII Terminowość, odwoływanie i przekładanie zajęć</strong>
          <br /><br />
          <ol>
            <li>
              Na lekcje stawiamy się punktualnie. Jeśli uczeń nie pojawi się na
              umówionych zajęciach bez wcześniejszego powiadomienia, są one
              traktowane jako zrealizowane.
            </li>
            <li>
              Uczeń (lub rodzic / opiekun) może bezpłatnie odwołać zajęcia do
              godziny 18:00 poprzedniego dnia. W takiej sytuacji uczeń ma
              obowiązek ustalić z nauczycielem termin na jej odrobienie w ciągu
              kolejnych 14 dni.
            </li>
            <li>
              Odwołanie zajęć przez ucznia lub rodzica / opiekuna po godzinie
              18:00 poprzedniego dnia lub w dniu planowanych zajęć skutkuje
              koniecznością uiszczenia opłaty w wysokości 50% ceny lekcji. Uczeń
              (lub rodzic / opiekun) może ustalić inny termin na odrobienie
              odwołanych zajęć, co nie zwalnia go jednak z obowiązku uiszczenia
              tejże opłaty.
            </li>
            <li>
              W przypadku odwołania zajęć przez nauczyciela (z co najmniej
              jednodniowym wyprzedzeniem), możliwe jest ustalenie z uczniem
              terminu na ich odrobienie w ciągu kolejnych 14 dni.
            </li>
            <li>
              Notoryczne odwoływanie lekcji przez ucznia skutkuje zakończeniem
              współpracy.
            </li>
            <li>
              Powyższe zasady nie obowiązują w przypadku wyjątkowych zdarzeń
              losowych, nagłych wypadków i innych sytuacji niemożliwych do
              przewidzenia. Nie zwalnia to obu stron z obowiązku niezwłocznego
              informowania o wszelkich zmianach. IV Nie zapominamy o
              najważniejszym: zawsze warto porozmawiać. Polegajmy nie tylko na
              regulaminie, ale także (przede wszystkim) na dobrych chęciach,
              szczerości i zdrowym rozsądku. :)
            </li>
          </ol>

          <br />
          <strong
            >IV Nie zapominamy o najważniejszym: zawsze warto porozmawiać.
            Polegajmy nie tylko na regulaminie, ale także (przede wszystkim) na
            dobrych chęciach, szczerości i zdrowym rozsądku. :)</strong
          >
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="1" gutterSize="0px" *ngIf="isMobile">
    <mat-grid-tile>
      <div class="contact-text">
        <div class="header">KONTAKT</div>
        Pani Martyna Kowalska <br />
        Staw 15 <br />
        86-221 Papowo Biskupie <br /><br />
        <strong
          ><a href="mailto:kontakt@panikowalska.com"
            >kontakt@panikowalska.com</a
          ></strong
        >
        <br />
        <strong
          ><a href="tel:+48-667-298-401 ">+48 667 298 401 </a><br /><br
        /></strong>
        NIP 8792492186 <br />
        REGON 381757363 <br />
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
