::ng-deep .dx-scheduler-appointment {
  background-color: transparent !important;
  }

.long-title h3 {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  padding-block: 0;
}

/* .dx-item .dx-scheduler-appointment .dx-scheduler-appointment-vertical .dx-resizable div[role="button"] {
  background-color: white !important;
} */

.appointment-item {
  border-radius: 10px;
}

.free-slot {
  background-color: green;
}

.booked-slot {
  background-color: blue;
}

.lesson-done {
  background-color: #ff4081 !important;
}

i {
  font-size: 1.2vw;
}

p {
  font-size: 1vw;
}
