.headers{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 245px;
  margin-bottom: 25px;
}

::ng-deep .long-title h3 {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  padding-block: 0;
}

::ng-deep .dx-switch-on-value .dx-switch-handle::before {
  background-color: #ff4081;
}

::ng-deep .dx-switch-on-value .dx-switch-handle::hover {
  background-color: #ff4081;
}

::ng-deep .dx-item .dx-scheduler-appointment .dx-scheduler-appointment-vertical .dx-resizable div[role="button"] {
  background-color: transparent !important;
}

.appointment-item {
  border-radius: 10px;
}

.free-slot {
  background-color: #889c6b;
}

.booked-slot {
  background-color: #f0c854;
}

.lesson-done {
  background-color: #ff4081 !important;
}

i {
  font-size: 1.2vw;
}

p {
  font-size: 1vw;
}

::ng-deep .dx-scheduler-header-panel-cell .dx-scheduler-cell-sizes-horizontal {
  background-color: #ffced6
}
