<div class="long-title">
  <h3>Umów się</h3>
</div>

<div class="container-flex">
  <div class="col-lg-auto justify-content-center">
    <dx-scheduler [dataSource]="appointmentsData"
                  appointmentTemplate="appointmentTemplate"
                  [currentDate]="currentDate"
                  textExpr="subject"
                  [views]='["day", "week", "workWeek", "month"]'
                  currentView="workWeek"
                  [startDayHour]="7"
                  [endDayHour]="22"
                  [height]="auto"
                  maxAppointmentsPerCell="unlimited"
                  timezone="timezone"
                  (onInitialized)="onInitialized($event)"
                  (onAppointmentFormCreated)="onAppointmentFormCreated($event)"
                  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
                  (onAppointmentAdded)="onAppointmentAdded($event)"
                  (onAppointmentUpdated)="onAppointmentUpdated($event)"
                  (onAppointmentDeleted)="onAppointmentDeleted($event)"
                  id="myScheduler">

      <div *dxTemplate="let model of 'appointmentTemplate'"
           [ngClass]="{'lesson-done': model.appointmentData.isDone === true,
                        'free-slot': model.appointmentData.isFreeSlot === true,
                        'booked-slot': model.appointmentData.isFreeSlot !== true,
                        'appointment-item': true}">
        <i>{{model.appointmentData.subject}}</i>
        <p class="text-wrap">
          {{model.appointmentData.startDate | date:' hh:mm'}}  - {{model.appointmentData.endDate | date:' hh:mm'}}
          <br/>
          {{model.appointmentData.description}}
        </p>
      </div>

    </dx-scheduler>
  </div>
</div>
