<img src="/Header/PK-kalendarz.png" style="margin-top: 20px;"  class="rounded mx-auto d-block">   


<div class="long-title">
</div>

<div class="container-flex">
  <div class="col-lg-auto justify-content-center">
    <dx-scheduler [dataSource]="appointmentsData"
                  appointmentTemplate="appointmentTemplate"
                  [currentDate]="currentDate"
                  textExpr="subject"
                  [views]='["day", "month", "week"]'
                  currentView="week"
                  [startDayHour]="7"
                  [endDayHour]="22"
                  [height]="auto"
                  maxAppointmentsPerCell="unlimited"
                  timezone="timezone"
                  (onAppointmentAdded)="onAppointmentAdded($event)"
                  (onAppointmentUpdated)="onAppointmentUpdated($event)"
                  (onAppointmentDeleted)="onAppointmentDeleted($event)">
      <!--https://blog.angular-university.io/angular-ngclass-ngstyle/-->
      <div *dxTemplate="let model of 'appointmentTemplate'"
           [ngStyle]="model.appointmentData.subject=='Wolny Slot'?{'background-color': 'green'} : {'background-color': 'blue'}">
        <!--           [ngClass]="model.appointmentData.subject=='Wolny Slot'?{nazwaklasyzpliku css} : {'background-color': 'blue'}">-->
        <i>{{model.appointmentData.subject}}</i>
        <p>Description: {{model.appointmentData.description}}</p>
        <p>Start Date: {{model.appointmentData.startDate}}</p>
        <p>End Date: {{model.appointmentData.endDate}}</p>

      </div>

    </dx-scheduler>
  </div>
</div>

<!--(onAppointmentFormOpening)="onAppointmentFormOpening($event)"
(onAppointmentAdding)="onAppointmentAdding($event)"
(onAppointmentUpdating)="onAppointmentUpdating($event)"-->
<!--startDateExpr="start.dateTime"
endDateExpr="end.dateTime"-->
<!--subject="title"-->
