<div class="long-title">
  <h3>Umów się</h3>
</div>

<div class="container-flex">
  <div class="col-lg-auto justify-content-center">
    <dx-scheduler [dataSource]="appointmentsData"
                  appointmentTemplate="appointmentTemplate"
                  [currentDate]="currentDate"
                  [views]='["day", "month", "week"]'
                  currentView="week"
                  [startDayHour]="7"
                  [endDayHour]="22"
                  [height]="auto"
                  maxAppointmentsPerCell="unlimited"
                  timezone="timezone">
      <!--https://blog.angular-university.io/angular-ngclass-ngstyle/-->
      <div *dxTemplate="let model of 'appointmentTemplate'"
           [ngClass]="model.appointmentData.subject=='Wolny Slot'?{nazwaklasyzpliku css} : {'background-color': 'blue'}">
        <i>{{model.appointmentData.subject}}</i>
        <p>Description: {{model.appointmentData.description}}</p>
      </div>

    </dx-scheduler>
  </div>
</div>

<!--(onAppointmentFormOpening)="onAppointmentFormOpening($event)"
(onAppointmentAdding)="onAppointmentAdding($event)"
(onAppointmentUpdating)="onAppointmentUpdating($event)"-->
<!--startDateExpr="start.dateTime"
endDateExpr="end.dateTime"-->
<!--subject="title"-->
