<body>
   <div class="wrapper">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="alert alert-danger text-center" role="alert" *ngIf="unauthorized">
        Incorrect e-mail or password
      </div>

      <div class="alert span4 alert-warning" role="alert" *ngIf="badrequest">
        Incorrect e-mail
      </div>

      <div class="fadeIn first">
        <img src="" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text" class="fadeIn second form-control" formControlName="email" placeholder="Enter e-mail">
        <input type="password" class="fadeIn third form-control" formControlName="password" placeholder="Enter password">
        <input type="submit" class="fadeIn fourth" value="Sign In">
        <a class="bttn fadeIn fourth" href="../api/LoginGoogle" role="button">Sign in via Google</a>
      </form>


      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>

    </div>
  </div>
</body>
