@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-dialog-actions {
  // ... &[align='end']

{
  justify-content: flex-end;
}

&[align='center'] {
  justify-content: center;
}

}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}

.identity {
  color: white;
  text-decoration: solid;
}

h3, h4 {
  margin: 10px 0 30px 0;
  /*  letter-spacing: 10px;
  font-size: 20px;*/
  color: #111;
}

.name-button {
  background-color: white;
  color: black;
  border-radius: 1px;
  transition: .2s;
  font-size: 1rem;
}

  .name-button:hover, .name-button:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }

.container {
  padding: 80px 120px;
}

.container-slider {
}

.container-no-homepages {
  padding: 20px 120px;
}

.person {
  /*  border: 10px solid transparent;
*/ margin-bottom: 25px;
  width: 100%;
  height: 100%;
  /*  opacity: 0.7;
*/
}

  .person:hover {
    border-color: #f1f1f1;
  }

.carousel-inner img {
  /*-webkit-filter: grayscale(90%);
  filter: grayscale(30%);*/ /* make all photos black and white */
  width: 100%; /*Set width to 100% */
  height: 100%;
  margin: auto;
  background-size: auto;
}

.carousel-caption h3 {
  color: #fff !important;
  text-shadow: 1px 1px #2d2d30;
}

.carousel-caption a {
  color: #fff !important;
  text-shadow: 1px 1px #2d2d30;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}

  .bg-1 h3 {
    color: #fff;
  }

  .bg-1 p {
    font-style: italic;
  }

.bg-2 {
  background: white;
  color: #bdbdbd;
  border-bottom: dotted;
  border-color: #2d2d30;
}

  .bg-2 h3 {
    color: #2d2d30;
  }

  .bg-2 p {
    font-style: italic;
  }


.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.thumbnail2 {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
  background-color: white;
  max-width: 100%;
  height: auto;
  border: 1px solid #2d2d30;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: 1px solid #2d2d30;
  border-radius: 2px;
}

  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }

  .thumbnail img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.badge {
  background-color: darkgoldenrod;
  margin-left: 4px;
  margin-right: 4px;
}

.btn {
  background-color: #333;
  color: #f1f1f1;
  border-radius: 1px;
  transition: .2s;
  font-size: 0.8rem;
  margin: 3px;
}

  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }

.modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}

.modal-header, .modal-body {
  padding: 40px 50px;
}



#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}

.dropdown-menu li a {
  color: #000 !important;
}

  .dropdown-menu li a:hover {
    background-color: red !important;
  }

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}

  footer a {
    color: #f5f5f5;
  }

    footer a:hover {
      color: #777;
      text-decoration: none;
    }

.form-control {
  border-radius: 0;
  font-size: 0.8rem;
}

textarea {
  resize: none;
}

html, body { height: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
