<img src="/Header/PK-news.png" style="margin-top: 20px;"   class="rounded mx-auto d-block">   

<mat-form-field>
  <mat-label>
    <mat-icon>search</mat-icon>
  </mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="imgPath">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Foto </th>
    <td mat-cell *matCellDef="let row"> <img src="/Images/{{row.imgPath}}" style="width:50%; margin: 5px;"></td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł </th>
    <td mat-cell *matCellDef="let row"> {{row.title}} </td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tekst </th>
    <td mat-cell *matCellDef="let row"> {{row.text}} </td>
  </ng-container>

  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
    <td mat-cell *matCellDef="let row"> {{row.data}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button (click)="addNews()">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">add</mat-icon>
      </button></th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="accent" (click)="updateNews(row)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="deleteNews(row.id)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
      <!-- <button mat-icon-button color="accent">
        <mat-icon aria-label="money">attach_money</mat-icon>
      </button> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>